*{
	font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;

}

.container{
    width:100%;
    max-width:1920px;
    margin:0px auto;

}

.row-menu{
	background:  #00CC00 ;
    padding-top: 2em; 
    padding-bottom: 4em;
}

li{
	list-style: none;
	color: white;
	font-weight: 600;
    margin-left: 1em;
}

.vet{
	height: 25em;
	background-image: url(../img/gatito_en_veterinario.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0; 
	padding-bottom: 30em;
}

.what{
	height: 9.375em;
	width: 12.5em; 
	margin-left: 7.5em;
	display: inline-block;
}

.contact{
	height: 9.375em;
	width: 12.5em; 
	margin-left: 40em;
	margin-top: -20em;
	display: inline-block;
}

.medic{
    height: 12.5em;
    width: 18.75em;
    display: inline-block;
}

.relax{
	height: 12.5em;
    width: 18.75em;
    display: inline-block;
}

.food{
	height: 12.5em;
    width: 18.75em;
    display: inline-block;
}